<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.butu.mapper.CommentMapper">

    <select id="getCommentsByPostID" resultType="org.butu.model.vo.CommentVO" parameterType="java.lang.String">
        select bt_comment.*,bt_user.username
        from bt_comment
                 join bt_user on bt_user.id = bt_comment.user_id
        where topic_id = #{topicid}
        order by create_time desc
    </select>
</mapper>
